.checkBoxService{
    border: 1px solid #ccd1d6;
    border-radius: 20px;
    justify-content: space-around;
    cursor: pointer;

}
.checkBoxService-active{
    border: 2px solid #3b71aa;
    border-radius: 20px;
    justify-content: space-around;
    cursor: pointer;

}
.checkBoxService:hover{
    background-color: #c9c4c4;
}
.checkBoxService-active:hover{
    background-color: #c9c4c4;
}